_deprecated/otf216/project/1_XSD_Blueprint/otf216/xsd/Container_Work_EstimateLines.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" >
  <xs:include schemaLocation="Common_Attachments.xsd"/>  
  <xs:include schemaLocation="Common_Code.xsd"/>  
  <xs:include schemaLocation="Common_ComplexCodes.xsd"/>  
  <xs:include schemaLocation="Container_Work_EstimateLineProposal.xsd"/>  
  <xs:include schemaLocation="Container_ServiceProgress_AuthorizationInfo.xsd"/>
  <xs:complexType name="Container_Work_EstimateLines">
    <xs:sequence>
      <xs:element name="Container_Work_EstimateLine" maxOccurs="unbounded">
        <xs:complexType>
          <xs:sequence>
			<xs:element name="LineID" type="xs:string"  minOccurs="0" />
			<xs:element name="OriginID" type="xs:string"  minOccurs="0" />
			<xs:element name="SortOrder" type="xs:int"  minOccurs="0"/>
			<xs:element name="Description" type="xs:string" />
			<xs:element name="CategoryCode" minOccurs="0" >
				<xs:complexType> 
					<xs:sequence>
						<xs:element ref="Code"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="GeneralCodes" minOccurs="0" >
				<xs:complexType>
					<xs:sequence>
						<xs:element name="LocationCode" minOccurs="0" >
							<xs:complexType>
								<xs:sequence>
									<xs:element ref="Code"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="DamageCode"  minOccurs="0" >
							<xs:complexType>
								<xs:sequence>
									<xs:element ref="Code"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="RepairCode" minOccurs="0" >
							<xs:complexType>
								<xs:sequence>
									<xs:element ref="Code"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="ComponentCode" minOccurs="0" >
							<xs:complexType>
								<xs:sequence>
									<xs:element ref="Code"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>								
			<xs:element name="ComplexCodes" type="ComplexCodes"  minOccurs="0" />
			<xs:element name="Proposal" minOccurs="0" >
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="Container_Work_EstimateLineProposal"/>					
					</xs:sequence>
				</xs:complexType>
			</xs:element>			
			<xs:element name="CounterProposal" minOccurs="0" >
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="Container_Work_EstimateLineProposal"/>					
					</xs:sequence>
				</xs:complexType>
			</xs:element>					
			<xs:element name="ClientAuthorization" minOccurs="0" >
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="Container_ServiceProgress_AuthorizationInfo"/>					
					</xs:sequence>
				</xs:complexType>
			</xs:element>	
			<xs:element name="Attachments" type="Attachments" minOccurs="0" />		          
		  </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>




