1_XSD_BluePrint/otf20/xsd/Container_ServiceRequestInfo.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Container_ServiceRequestInfo">
    <xs:complexType>
      <xs:sequence>
		<xs:element name="IsRequested" type="xs:boolean" default = "true" />
		<xs:element name="ClientAuthorizationReference" type="xs:string" minOccurs="0" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>				