1_XSD_BluePrint/otf20/xsd/TankContainer_ServiceRequest_Heating.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:include schemaLocation="Container_ServiceRequestInfo.xsd"/>
  <xs:element name="TankContainer_ServiceRequest_Heating">
    <xs:complexType>
      <xs:sequence>
		<xs:element ref="Container_ServiceRequestInfo" />
		<xs:element name="TargetTemperature" type="xs:double" minOccurs="0" />
		<xs:element name="TargetTemperatureUnit" type="xs:string" minOccurs="0" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>								