_deprecated/otf22/project/1_XSD_Blueprint/otf22/xsd/Common_OrderStatusInfo.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:include schemaLocation="Common_OrderStatus.xsd"/>
  <xs:element name="OrderStatusInfo">
    <xs:complexType>
      <xs:sequence>
 		<xs:element name="OrderStatus" default = "UNKNOWN">
			<xs:simpleType>
				<xs:restriction base="OrderStatus" />
			</xs:simpleType>
		</xs:element>
        <xs:element name="OrderStatusDescription" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>