_deprecated/otf22/project/1_XSD_Blueprint/otf22/xsd/TankContainerInfo_ReliefValves.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" >
  <xs:complexType name="TankContainerInfo_ReliefValves">
    <xs:sequence>
      <xs:element name="TankContainerInfo_ReliefValve" maxOccurs="unbounded">
        <xs:complexType>
          <xs:sequence>
			<xs:element name="Manufacturer" type="xs:string" minOccurs="0" />
			<xs:element name="SerialNumber" type="xs:string" minOccurs="0" />
			<xs:element name="SettingMinus" type="xs:double" minOccurs="0" />
			<xs:element name="SettingPlus" type="xs:double" minOccurs="0" />
          </xs:sequence>
        </xs:complexType> 
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>

