_deprecated/otf22/project/1_XSD_Blueprint/otf22/xsd/TankContainerInfo.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:include schemaLocation="ContainerInfo.xsd"/>
  <xs:include schemaLocation="TankContainer_PortableTankTypes.xsd"/>
  <xs:include schemaLocation="TankContainer_IMOTypes.xsd"/>
  <xs:include schemaLocation="TankContainerInfo_SubstancesSuitableForTransport.xsd"/>
  <xs:include schemaLocation="TankContainerInfo_SpecialProvisions.xsd"/>
  <xs:include schemaLocation="TankContainer_ISO6346SizeTypeCodes.xsd"/>
  <xs:include schemaLocation="Common_TemperatureMeasures.xsd"/>
  <xs:include schemaLocation="TankContainerInfo_ReliefValves.xsd"/>
  <xs:include schemaLocation="TankContainerInfo_RuptureDiscs.xsd"/>
  <xs:include schemaLocation="TankContainer_InspectionScopes.xsd"/>  
  <xs:element name="TankContainerInfo">
    <xs:complexType>
      <xs:sequence>
	    <xs:element ref="ContainerInfo"/>
		<xs:element name="OwnerID" type="xs:string" minOccurs="0" />
		<xs:element name="TankContainerSuitabilityInfo" minOccurs="0" >
			<xs:complexType>
				<xs:sequence>
					<xs:element name="PortableTankType" minOccurs="0" >
						<xs:simpleType>
							<xs:restriction base="TankContainer_PortableTankTypes" />
						</xs:simpleType>
					</xs:element>
					<xs:element name="PortableTankTypeDescription" type="xs:string" minOccurs="0" />
					<xs:element name="IMOType_Deprecated" minOccurs="0" >
						<xs:simpleType>
							<xs:restriction base="TankContainer_IMOTypes" />
						</xs:simpleType>
					</xs:element>
					<xs:element name="IMOTypeDescription_Deprecated" type="xs:string" minOccurs="0" />
					<xs:element name="RID_ADRCode" type="xs:string" minOccurs="0" />
					<xs:element name="SubstancesSuitableForTransport" type="TankContainerInfo_SubstancesSuitableForTransport" minOccurs="0"/>					
					<xs:element name="SpecialProvisions" type="TankContainerInfo_SpecialProvisions" minOccurs="0"/>										
				</xs:sequence>
			</xs:complexType>
		</xs:element>
		<xs:element name="TankContainerCharacteristicsInfo" minOccurs="0">
			<xs:complexType>
				<xs:sequence>
					<xs:element name="Manufacturer" type="xs:string" minOccurs="0" />
					<xs:element name="ManufacturerCountry" type="xs:string" minOccurs="0" />
					<xs:element name="ManufacturerSerialNumber" type="xs:string" minOccurs="0"/>
					<xs:element name="BuildingYearMonth" type="xs:dateTime" minOccurs="0"/>
					<xs:element name="ISO6346SizeTypeCode" minOccurs="0" >
						<xs:simpleType>
							<xs:restriction base="TankContainer_ISO6346SizeTypeCodes" />
						</xs:simpleType>
					</xs:element>
					<xs:element name="ISO6346SizeTypeCodeDescription" type="xs:string" minOccurs="0" />
					<xs:element name="DimensionsXMillimeter" type="xs:int" minOccurs="0" />
					<xs:element name="DimensionsYMillimeter" type="xs:int" minOccurs="0" />
					<xs:element name="DimensionsZMillimeter" type="xs:int" minOccurs="0"/>
					<xs:element name="MaxGrossMass" type="xs:double" minOccurs="0"/>
					<xs:element name="Payload" type="xs:double" minOccurs="0"/>
					<xs:element name="PayloadUnit" type="xs:string" default = "kg" minOccurs="0"/>					
					<xs:element name="Tare" type="xs:double" minOccurs="0"/>
					<xs:element name="TareUnit" type="xs:string" default = "kg" minOccurs="0"/>
					<xs:element name="Capacity" type="xs:double" minOccurs="0"/> 
					<xs:element name="CapacityUnit" type="xs:string" default = "L" minOccurs="0"/>					
				</xs:sequence>
			</xs:complexType>
		</xs:element>
		<xs:element name="TankContainerTankInfo" minOccurs="0">
			<xs:complexType>
				<xs:sequence>
					<xs:element name="CompartmentQuantity" type="xs:int" minOccurs="0"/> 		
					<xs:element name="ShellMaterial" type="xs:string" minOccurs="0"/> 
					<xs:element name="ShellEquivalentThicknessRefSteelMillimeter" type="xs:double" minOccurs="0" /> 
					<xs:element name="SurgePlates" type="xs:boolean" minOccurs="0"/> 
					<xs:element name="SurgePlatesCapacityBetweenIsLowerThan7500L" type="xs:boolean" minOccurs="0"/> 
					<xs:element name="WorkPressureMaximumBar" type="xs:double" minOccurs="0"/> 
					<xs:element name="DesignPressureExternalBar" type="xs:double" minOccurs="0"/> 
					<xs:element name="TestPressureHydraulicBar" type="xs:double" minOccurs="0"/>
					<xs:element name="DesignTemperatureMinimum" type="xs:double" minOccurs="0"/> 
					<xs:element name="DesignTemperatureMaximum" type="xs:double" minOccurs="0"/> 
					<xs:element name="DesignTemperatureUnit" minOccurs="0" >
						<xs:simpleType>
							<xs:restriction base="TemperatureMeasures" />
						</xs:simpleType>
					</xs:element>					
				</xs:sequence>
			</xs:complexType>
		</xs:element>
		 <xs:element name="TankContainerEquipmentInfo" minOccurs="0">
			<xs:complexType>
				<xs:sequence>
					<xs:element name="TopDischarge" type="xs:string" minOccurs="0" /> 
					<xs:element name="TopQuantityOfEnclosuresInSeries" type="xs:int" minOccurs="0" /> 			
					<xs:element name="BottomDischarge" type="xs:string" minOccurs="0" /> 
					<xs:element name="BottomQuantityOfEnclosuresInSeries" type="xs:int" minOccurs="0" /> 
					<xs:element name="Heater" type="xs:string" minOccurs="0" /> 
					<xs:element name="HeaterWorkingPressureBar" type="xs:double" minOccurs="0" /> 
					<xs:element name="ReliefValveQuantity" type="xs:int" minOccurs="0" /> 
					<xs:element name="ReliefValves" type="TankContainerInfo_ReliefValves" minOccurs="0" />
					<xs:element name="RuptureDiscQuantity" type="xs:int" minOccurs="0" /> 
					<xs:element name="RuptureDiscs" type="TankContainerInfo_RuptureDiscs" minOccurs="0" />													
				</xs:sequence>
			</xs:complexType>
		</xs:element>
		<xs:element name="TankContainerLiningInfo" minOccurs="0" >
			<xs:complexType>
				<xs:sequence>
					<xs:element name="InternalCoating" type="xs:string" minOccurs="0" /> 
					<xs:element name="Insulation" type="xs:string" minOccurs="0" /> 
					<xs:element name="Material" type="xs:string"  minOccurs="0"/> 
				</xs:sequence>
			</xs:complexType>
		</xs:element>
		<xs:element name="InspectionDates" minOccurs="0">
			<xs:complexType>
				<xs:sequence>
					<xs:element name="InitialInspectionDate" type="xs:dateTime" minOccurs="0" />					
					<xs:element name="LastInspectionDate" type="xs:dateTime" minOccurs="0" />		
					<xs:element name="LastInspectionScope" minOccurs="0" >
						<xs:simpleType>
							<xs:restriction base="TankContainer_InspectionScopes" />
						</xs:simpleType>
					</xs:element>
					<xs:element name="LastInspectionScopeDescription" type="xs:string" minOccurs="0" />
					<xs:element name="NextInspectionDate" type="xs:dateTime" minOccurs="0" />		
					<xs:element name="CSCValidityDate" type="xs:dateTime" minOccurs="0" />
					<xs:element name="ACEP" type="xs:dateTime" minOccurs="0" />
					<xs:element name="ACEPDescription" type="xs:string" minOccurs="0" />					
				</xs:sequence>
			</xs:complexType>
		</xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>