otf20/project/3_Generator/otf20/autogenerated_xsd_separate/Message_Container_PreNotification.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Message_Container_PreNotification">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="MessageHeaderInfo">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" maxOccurs="1" name="MessageID" type="xs:string" />
              <xs:element minOccurs="0" maxOccurs="1" name="ConversationID" type="xs:string" />
              <xs:element minOccurs="1" maxOccurs="1" name="OTFVersion" type="MessageHeaderInfoOTFVersion" />
              <xs:element minOccurs="0" maxOccurs="1" name="SenderID" type="xs:string" />
              <xs:element minOccurs="0" maxOccurs="1" name="RecipientID" type="xs:string" />
              <xs:element minOccurs="0" maxOccurs="1" name="ContactName" type="xs:string" />
              <xs:element minOccurs="1" maxOccurs="1" name="SentDate" type="xs:dateTime" />
              <xs:element minOccurs="1" maxOccurs="1" name="MessageType" type="MessageHeaderInfoMessageType" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="1" maxOccurs="1" name="ContainerPreNotificationType" type="Message_Container_PreNotificationContainerPreNotificationType" />
        <xs:element minOccurs="0" maxOccurs="1" name="OrderInfo">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" maxOccurs="1" name="SupplierID" type="xs:string" />
              <xs:element minOccurs="0" maxOccurs="1" name="SupplierLocationID" type="xs:string" />
              <xs:element minOccurs="0" maxOccurs="1" name="SupplierProformaReference" type="xs:string" />
              <xs:element minOccurs="0" maxOccurs="1" name="SupplierOrderReference" type="xs:string" />
              <xs:element minOccurs="0" maxOccurs="1" name="OrderStatusInfo">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" maxOccurs="1" name="OrderStatusDescription" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" maxOccurs="1" name="ClientID" type="xs:string" />
              <xs:element minOccurs="0" maxOccurs="1" name="ClientOrderReference" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" maxOccurs="1" name="ContainerInfo">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" maxOccurs="1" name="ContainerNumber" type="xs:string" />
              <xs:element minOccurs="0" maxOccurs="1" name="ContainerType" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" maxOccurs="1" name="ArrivalInfo">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" maxOccurs="1" name="ETA" type="xs:dateTime" />
              <xs:element minOccurs="0" maxOccurs="1" name="RedeliveryReference" type="xs:string" />
              <xs:element minOccurs="0" maxOccurs="1" name="ContainerOrigin" type="xs:string" />
              <xs:element minOccurs="0" maxOccurs="1" name="Container_HaulierInfo">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" maxOccurs="1" name="HaulierName" type="xs:string" />
                    <xs:element minOccurs="0" maxOccurs="1" name="TruckDriverName" type="xs:string" />
                    <xs:element minOccurs="0" maxOccurs="1" name="TruckLicensePlate" type="xs:string" />
                    <xs:element minOccurs="0" maxOccurs="1" name="ChassisLicensePlate" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" maxOccurs="1" name="TankContainer_StateInfo">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="1" maxOccurs="1" name="IsLoaded" type="xs:boolean" />
                    <xs:element minOccurs="0" maxOccurs="1" name="FullLoadedAmount" type="xs:double" />
                    <xs:element minOccurs="0" maxOccurs="1" name="FullLoadedAmountUnit" type="xs:string" />
                    <xs:element minOccurs="1" maxOccurs="1" name="IsClean" type="xs:boolean" />
                    <xs:element minOccurs="1" maxOccurs="1" name="IsPressurized" type="xs:boolean" />
                    <xs:element minOccurs="1" maxOccurs="1" name="IsNitrogen" type="xs:boolean" />
                    <xs:element minOccurs="0" maxOccurs="1" name="Compartments" type="ArrayOfTankContainer_CompartmentsTankContainer_Compartment" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" maxOccurs="1" name="ServicesRequestInfo">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" maxOccurs="1" name="Container_ServiceRequest_Storage">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" maxOccurs="1" name="Container_ServiceRequestInfo">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element minOccurs="1" maxOccurs="1" name="IsRequested" type="xs:boolean" />
                          <xs:element minOccurs="0" maxOccurs="1" name="ClientAuthorizationReference" type="xs:string" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" maxOccurs="1" name="TankContainer_ServiceRequest_Heating">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" maxOccurs="1" name="Container_ServiceRequestInfo">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element minOccurs="1" maxOccurs="1" name="IsRequested" type="xs:boolean" />
                          <xs:element minOccurs="0" maxOccurs="1" name="ClientAuthorizationReference" type="xs:string" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="TargetTemperature" type="xs:double" />
                    <xs:element minOccurs="0" maxOccurs="1" name="TargetTemperatureUnit" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" maxOccurs="1" name="TankContainer_ServiceRequest_Cleaning">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" maxOccurs="1" name="Container_ServiceRequestInfo">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element minOccurs="1" maxOccurs="1" name="IsRequested" type="xs:boolean" />
                          <xs:element minOccurs="0" maxOccurs="1" name="ClientAuthorizationReference" type="xs:string" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="RequestPolymerCleaning" type="xs:boolean" />
                    <xs:element minOccurs="0" maxOccurs="1" name="SpecialInstructionID" type="xs:string" />
                    <xs:element minOccurs="0" maxOccurs="1" name="AdditionalCleaningActions" type="ArrayOfTankContainer_CleaningActionsTankContainer_CleaningAction" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" maxOccurs="1" name="Container_ServiceRequest_Work_Modification">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" maxOccurs="1" name="Container_ServiceRequestInfo">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element minOccurs="1" maxOccurs="1" name="IsRequested" type="xs:boolean" />
                          <xs:element minOccurs="0" maxOccurs="1" name="ClientAuthorizationReference" type="xs:string" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="SpecialInstructionID" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" maxOccurs="1" name="Container_ServiceRequest_Work_Repair">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="1" maxOccurs="1" name="IsRequested" type="xs:boolean" />
                    <xs:element minOccurs="0" maxOccurs="1" name="LessorID" type="xs:string" />
                    <xs:element minOccurs="0" maxOccurs="1" name="LessorReference" type="xs:string" />
                    <xs:element minOccurs="0" maxOccurs="1" name="LessorAuthorizationReference" type="xs:string" />
                    <xs:element minOccurs="0" maxOccurs="1" name="LesseeID" type="xs:string" />
                    <xs:element minOccurs="0" maxOccurs="1" name="LesseeReference" type="xs:string" />
                    <xs:element minOccurs="0" maxOccurs="1" name="LesseeAuthorizationReference" type="xs:string" />
                    <xs:element minOccurs="0" maxOccurs="1" name="SpecialInstructionID" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" maxOccurs="1" name="TankContainer_ServiceRequest_Inspection">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" maxOccurs="1" name="Container_ServiceRequestInfo">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element minOccurs="1" maxOccurs="1" name="IsRequested" type="xs:boolean" />
                          <xs:element minOccurs="0" maxOccurs="1" name="ClientAuthorizationReference" type="xs:string" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="InspectionScope" type="TankContainer_ServiceRequest_InspectionInspectionScope" />
                    <xs:element minOccurs="0" maxOccurs="1" name="InspectionScopeDescription" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" maxOccurs="1" name="DepartureInfo">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" maxOccurs="1" name="ETD" type="xs:dateTime" />
              <xs:element minOccurs="0" maxOccurs="1" name="ReleaseReference" type="xs:string" />
              <xs:element minOccurs="0" maxOccurs="1" name="ContainerDestination" type="xs:string" />
              <xs:element minOccurs="0" maxOccurs="1" name="Container_HaulierInfo">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" maxOccurs="1" name="HaulierName" type="xs:string" />
                    <xs:element minOccurs="0" maxOccurs="1" name="TruckDriverName" type="xs:string" />
                    <xs:element minOccurs="0" maxOccurs="1" name="TruckLicensePlate" type="xs:string" />
                    <xs:element minOccurs="0" maxOccurs="1" name="ChassisLicensePlate" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" maxOccurs="1" name="Remarks" type="ArrayOfRemarksRemark" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:simpleType name="MessageHeaderInfoOTFVersion">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Unknown" />
      <xs:enumeration value="OTF20" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="MessageHeaderInfoMessageType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="New" />
      <xs:enumeration value="Update" />
      <xs:enumeration value="Cancellation" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Message_Container_PreNotificationContainerPreNotificationType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Empty" />
      <xs:enumeration value="Redelivery" />
      <xs:enumeration value="Release" />
      <xs:enumeration value="Heating" />
      <xs:enumeration value="AccompaniedCleaning" />
      <xs:enumeration value="QuickRepair" />
      <xs:enumeration value="Other" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="ArrayOfTankContainer_CompartmentsTankContainer_Compartment">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TankContainer_Compartment">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="1" maxOccurs="1" name="CompartmentNumber" type="xs:int" />
            <xs:element minOccurs="0" maxOccurs="1" name="CurrentProduct">
              <xs:complexType>
                <xs:sequence>
                  <xs:element minOccurs="0" maxOccurs="1" name="ProductInfo">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element minOccurs="0" maxOccurs="1" name="MainName" type="xs:string" />
                        <xs:element minOccurs="0" maxOccurs="1" name="TradeName" type="xs:string" />
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                  <xs:element minOccurs="0" maxOccurs="1" name="LoadedAmount" type="xs:double" />
                  <xs:element minOccurs="0" maxOccurs="1" name="LoadedAmountUnit" type="xs:string" />
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" maxOccurs="1" name="PreviousProduct1">
              <xs:complexType>
                <xs:sequence>
                  <xs:element minOccurs="0" maxOccurs="1" name="ProductInfo">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element minOccurs="0" maxOccurs="1" name="MainName" type="xs:string" />
                        <xs:element minOccurs="0" maxOccurs="1" name="TradeName" type="xs:string" />
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" maxOccurs="1" name="PreviousProduct2">
              <xs:complexType>
                <xs:sequence>
                  <xs:element minOccurs="0" maxOccurs="1" name="ProductInfo">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element minOccurs="0" maxOccurs="1" name="MainName" type="xs:string" />
                        <xs:element minOccurs="0" maxOccurs="1" name="TradeName" type="xs:string" />
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" maxOccurs="1" name="PreviousProduct3">
              <xs:complexType>
                <xs:sequence>
                  <xs:element minOccurs="0" maxOccurs="1" name="ProductInfo">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element minOccurs="0" maxOccurs="1" name="MainName" type="xs:string" />
                        <xs:element minOccurs="0" maxOccurs="1" name="TradeName" type="xs:string" />
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfTankContainer_CleaningActionsTankContainer_CleaningAction">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TankContainer_CleaningAction">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="1" maxOccurs="1" name="CompartmentNumber" type="xs:int" />
            <xs:element minOccurs="0" maxOccurs="1" name="ActionID" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" default="1" name="Quantity" type="xs:int" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="TankContainer_ServiceRequest_InspectionInspectionScope">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Empty" />
      <xs:enumeration value="2.5YearTest" />
      <xs:enumeration value="5YearTest" />
      <xs:enumeration value="InternalInspection" />
      <xs:enumeration value="ExternalInspection" />
      <xs:enumeration value="HydraulicTest" />
      <xs:enumeration value="LeakproofnessTest" />
      <xs:enumeration value="VacuumMeasurement" />
      <xs:enumeration value="HeaterPressureTest" />
      <xs:enumeration value="ValveSettingsCheck" />
      <xs:enumeration value="ServiceEquipmentCheck" />
      <xs:enumeration value="FrameExamination" />
      <xs:enumeration value="MarkingExamination" />
      <xs:enumeration value="AirTest" />
      <xs:enumeration value="HydrostaticTest" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="ArrayOfRemarksRemark">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Remark">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="RemarkID" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="RemarkDate" type="xs:dateTime" />
            <xs:element minOccurs="0" maxOccurs="1" name="RemarkAuthor" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="RemarkText" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>