otf23/project/1_XSD_Blueprint/otf23/xsd/Common_Remarks.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" >
  <xs:include schemaLocation="CRM_ContactInfo.xsd"/> 
  <xs:complexType name="Remarks">
    <xs:sequence>
      <xs:element name="Remark" maxOccurs="unbounded">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="ID" type="xs:string" minOccurs="0" />
            <xs:element name="Date" type="xs:dateTime" minOccurs="0" />
			<xs:element name="AuthorInfo" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="ContactInfo" />	  
					</xs:sequence>
				</xs:complexType>
			</xs:element>	
            <xs:element name="Remark" type="xs:string" minOccurs="0" />		
          </xs:sequence> 
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
