otf23/project/1_XSD_Blueprint/otf23/xsd/Common_MessageHeaderInfo.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" >
  <xs:include schemaLocation="OTF_OTFVersions.xsd"/>
  <xs:include schemaLocation="OTF_OTFMessages.xsd"/>
  <xs:include schemaLocation="CRM_BusinessUnitInfo.xsd"/>
  <xs:include schemaLocation="CRM_ContactInfo.xsd"/>  
  <xs:include schemaLocation="Common_MessageTypes.xsd"/>
  <xs:element name="MessageHeaderInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="MessageID" type="xs:string" />
        <xs:element name="SentDate" type="xs:dateTime" />
        <xs:element name="ConversationID" type="xs:string"  />
		<xs:element name="OTFVersion" default = "OTF23">
			<xs:simpleType>
				<xs:restriction base="OTFVersions" />
			</xs:simpleType>
		</xs:element>
		<xs:element name="OTFMessage" >
			<xs:simpleType>
				<xs:restriction base="OTFMessages" />
			</xs:simpleType>
		</xs:element>
		<xs:element name="MessageType" default = "New">
			<xs:simpleType>
				<xs:restriction base="MessageTypes" />
			</xs:simpleType>
		</xs:element>
		<xs:element name="SenderInfo" >
			<xs:complexType>
				<xs:sequence>
					<xs:element ref="BusinessUnitInfo" />	  
					<xs:element ref="ContactInfo"  />	
		</xs:sequence>
			</xs:complexType>
		</xs:element>	
		<xs:element name="RecipientInfo" >
			<xs:complexType>
				<xs:sequence>
					<xs:element ref="BusinessUnitInfo" />	  
				</xs:sequence>
			</xs:complexType>
		</xs:element>		
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>