otf23/project/1_XSD_Blueprint/otf23/xsd/Common_Attachments.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" >
  <xs:complexType name="Attachments">
    <xs:sequence>
      <xs:element name="Attachment" maxOccurs="unbounded">
        <xs:complexType>
          <xs:sequence>
			<xs:element name="Name" type="xs:string" />	
			<xs:element name="URL" type="xs:string" minOccurs="0" />
			<xs:element name="ExternalID" type="xs:string" minOccurs="0" />
			<xs:element name="Tags" maxOccurs="unbounded">
				<xs:complexType>
				  <xs:sequence>
					<xs:element name="Tag" type="xs:string"/>
				  </xs:sequence> 
				</xs:complexType>
		     </xs:element>
          </xs:sequence> 
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>

