otf23/project/1_XSD_Blueprint/otf23/xsd/Common_ComplexCodes.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" >
  <xs:complexType name="ComplexCodes">
    <xs:sequence>
      <xs:element name="ComplexCode" maxOccurs="unbounded">
        <xs:complexType>
          <xs:sequence>
			<xs:element name="ParentCodeCatalogName" type="xs:string" />
			<xs:element name="Value" type="xs:string" />
			<xs:element name="Description" type="xs:string" minOccurs="0" />	
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>

