otf23/project/1_XSD_Blueprint/otf23/xsd/Container_ServiceRequest_Work_Repair.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:include schemaLocation="Container_ServiceRequestInfo.xsd"/>
  <xs:include schemaLocation="CRM_BusinessUnitInfo.xsd"/>    
  <xs:element name="Container_ServiceRequest_Work_Repair">
    <xs:complexType>
      <xs:sequence>
		<xs:element name="LessorInfo" >
			<xs:complexType>
				<xs:sequence>
					<xs:element ref="BusinessUnitInfo" />	 
					<xs:element ref="Container_ServiceRequestInfo"  />
				</xs:sequence>
			</xs:complexType>
		</xs:element>			
		<xs:element name="LesseeInfo" >
			<xs:complexType>
				<xs:sequence>
					<xs:element ref="BusinessUnitInfo" />	  
					<xs:element ref="Container_ServiceRequestInfo"  />
				</xs:sequence>
			</xs:complexType>
		</xs:element>			
		<xs:element name="SpecialInstructionID" type="xs:string"  />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>								