otf23/project/1_XSD_Blueprint/otf23/xsd/Container_ServiceProgress_DateInfo.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:include schemaLocation="CRM_ContactInfo.xsd"/>    
  <xs:element name="Container_ServiceProgress_DateInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Planned" type="xs:dateTime"  />
		<xs:element name="PlannedByInfo" >
			<xs:complexType>
				<xs:sequence>
					<xs:element ref="ContactInfo" />	  
				</xs:sequence>
			</xs:complexType>
		</xs:element>			
        <xs:element name="PlannedToTakePlaceOn" type="xs:dateTime" />
        <xs:element name="Started" type="xs:dateTime" />
		<xs:element name="StartedByInfo" >
			<xs:complexType>
				<xs:sequence>
					<xs:element ref="ContactInfo" />	  
				</xs:sequence>
			</xs:complexType>
		</xs:element>			
        <xs:element name="Finished" type="xs:dateTime" />
		<xs:element name="FinishedByInfo" >
			<xs:complexType>
				<xs:sequence>
					<xs:element ref="ContactInfo" />	  
				</xs:sequence>
			</xs:complexType>
		</xs:element>			
        <xs:element name="Cancelled" type="xs:dateTime" />
		<xs:element name="CancelledByInfo" >
			<xs:complexType>
				<xs:sequence>
					<xs:element ref="ContactInfo" />	  
				</xs:sequence>
			</xs:complexType>
		</xs:element>			
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>