otf23/project/1_XSD_Blueprint/otf23/xsd/Container_ServiceProgress_AuthorizationInfo.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:include schemaLocation="Common_LocalizationInfo.xsd"/>
  <xs:include schemaLocation="Container_ServiceProgress_AuthorizationStatus.xsd"/>
  <xs:include schemaLocation="CRM_ContactInfo.xsd"/>   
  <xs:element name="Container_ServiceProgress_AuthorizationInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Container_ServiceProgress_AuthorizationStatus">
          <xs:complexType>
            <xs:sequence>
			  <xs:element name="Status" >
				<xs:simpleType>
					<xs:restriction base="Container_ServiceProgress_AuthorizationStatus" />
				</xs:simpleType>
			  </xs:element>			  
			  <xs:element name="Remark" type="xs:string" minOccurs="0" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Authorized" type="xs:dateTime" />
		<xs:element name="AuthorizedByInfo" minOccurs="0">
			<xs:complexType>
				<xs:sequence>
					<xs:element ref="ContactInfo" />	  
				</xs:sequence>
			</xs:complexType>
		</xs:element>	
		<xs:element name="AuthorizationReference" type="xs:string" minOccurs="0" />
		<xs:element name="AuthorizationAmount" minOccurs="0">
			<xs:complexType>
				<xs:sequence>
					<xs:element ref="LocalizationInfo" />	  
					<xs:element name="AuthorizationAmount" type="xs:double" default = "0" />	
				</xs:sequence>
			</xs:complexType>
		</xs:element>		
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>