otf23/project/1_XSD_Blueprint/otf23/xsd/Container_StatusUpdate_Storage_Available.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Container_StatusUpdate_Storage_Available">
    <xs:complexType>
      <xs:sequence> 
		<xs:element name="ClientPurchaseOrderReference" type="xs:string" minOccurs="0" />  
		<xs:element name="ContainerAvailableDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>