otf23/project/1_XSD_Blueprint/otf23/xsd/CRM_BusinessUnitInfo.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="BusinessUnitInfo">
    <xs:complexType>
      <xs:sequence>
		<xs:element name="Name" type="xs:string" />
		<xs:element name="ExternalID" type="xs:string"  />		
		<xs:element name="Phone" type="xs:string"  />	
		<xs:element name="Email" type="xs:string"  />	
		<xs:element name="Country" type="xs:string"  />	
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>

