otf23/project/1_XSD_Blueprint/otf23/xsd/CRM_ContactInfo.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ContactInfo">
    <xs:complexType>
      <xs:sequence>
		<xs:element name="Name" type="xs:string" />
		<xs:element name="Phone" type="xs:string" minOccurs="0" />	
		<xs:element name="Email" type="xs:string" minOccurs="0" />	
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>

