otf23/project/1_XSD_Blueprint/otf23/xsd/Message_TankContainer_StatusUpdate_Storage_Available.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:include schemaLocation="Common_MessageHeaderInfo.xsd"/>
  <xs:include schemaLocation="Common_Remarks.xsd"/> 
  <xs:include schemaLocation="Common_Attachments.xsd"/>   
  <xs:include schemaLocation="Common_OrderInfo.xsd"/>
  <xs:include schemaLocation="TankContainerInfo.xsd"/>
  <xs:include schemaLocation="Container_StatusUpdate_Storage_Available.xsd"/>  
  <xs:element name="Message_TankContainer_StatusUpdate_Storage_Available">
    <xs:complexType>
      <xs:sequence>
	    <xs:element ref="MessageHeaderInfo"/>
	    <xs:element ref="OrderInfo"/> 
	    <xs:element ref="TankContainerInfo"/>
	    <xs:element ref="Container_StatusUpdate_Storage_Available"/>
		<xs:element name="Remarks" type="Remarks"  />
		<xs:element name="Attachments" type="Attachments"  />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>