otf23/project/1_XSD_Blueprint/otf23/xsd/Message_TankContainer_InspectionReport.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:include schemaLocation="Common_MessageHeaderInfo.xsd"/>
  <xs:include schemaLocation="Common_Remarks.xsd"/> 
  <xs:include schemaLocation="Common_Attachments.xsd"/> 
  <xs:include schemaLocation="CRM_BusinessUnitInfo.xsd"/>   
  <xs:include schemaLocation="CRM_ContactInfo.xsd"/>   
  <xs:include schemaLocation="Logistics_FacilityInfo.xsd"/>    
  <xs:include schemaLocation="TankContainerInfo.xsd"/>
  <xs:include schemaLocation="TankContainer_Inspection.xsd"/>  
  <xs:include schemaLocation="TankContainer_InspectionScopes.xsd"/>    
  <xs:element name="Message_TankContainer_InspectionReport">
    <xs:complexType>
      <xs:sequence>
	    <xs:element ref="MessageHeaderInfo"/>
		<xs:element name="InspectionOrderInfo">
			<xs:complexType>
				<xs:sequence>
					<xs:element name="SupplierInfo">
						<xs:complexType>
							<xs:sequence>
								<xs:element ref="BusinessUnitInfo" />	  
							</xs:sequence>
						</xs:complexType>
					</xs:element>					
					<xs:element name="SupplierInspectionReference" type="xs:string"  />		
					<xs:element name="SupplierInspectionRevision" type="xs:string"  />
					<xs:element name="SupplierInspectionRevisionRemarks" type="Remarks"  />
					<xs:element name="SupplierTermsAndConditions" type="xs:string"  />						
					<xs:element name="InspectionScope"  >
						<xs:simpleType>
							<xs:restriction base="TankContainer_InspectionScopes" />
						</xs:simpleType>
					</xs:element>
					<xs:element name="InspectionScopeDescription" type="xs:string"  />
					<xs:element name="ClientInfo">
						<xs:complexType>
							<xs:sequence>
								<xs:element ref="BusinessUnitInfo" />	  
							</xs:sequence>
						</xs:complexType>
					</xs:element>					
					<xs:element name="ClientInspectionReference" type="xs:string"  />
				</xs:sequence>
			</xs:complexType>
		</xs:element>		
		<xs:element name="InspectionResultsInfo">
			<xs:complexType>
				<xs:sequence>
					<xs:element name="InspectionLocationInfo"  >
						<xs:complexType>
							<xs:sequence>
								<xs:element ref="FacilityInfo" />	
							</xs:sequence>
						</xs:complexType>
					</xs:element>				
					<xs:element name="InspectionCenterID" type="xs:string"  />
					<xs:element name="InspectionDate" type="xs:dateTime" />
					<xs:element name="InspectorInfo" >
						<xs:complexType>
							<xs:sequence>
								<xs:element ref="ContactInfo" />	  
							</xs:sequence>
						</xs:complexType>
					</xs:element>	
					<xs:element name="OperatorInfo" >
						<xs:complexType>
							<xs:sequence>
								<xs:element ref="BusinessUnitInfo" />	  
							</xs:sequence>
						</xs:complexType>
					</xs:element>	
					<xs:element name="TankContainerMarkings" type="Remarks"  />	
					<xs:element name="TankContainerRegulationsApplicableAccordingToMarkingsInfo">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="IMDG" type="xs:string"  /> 
								<xs:element name="RID_ADR" type="xs:string"  /> 
								<xs:element name="CSC" type="xs:string"  /> 
								<xs:element name="USDOT" type="xs:string"  />
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element ref="TankContainerInfo"/>
					<xs:element name="Inspections">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="InternalInspection"  >
									<xs:complexType>
										<xs:sequence>									
											<xs:element ref="TankContainer_Inspection"/>
										</xs:sequence>									
									</xs:complexType>
								</xs:element>
								<xs:element name="ExternalInspection"  >
									<xs:complexType>
										<xs:sequence>									
											<xs:element ref="TankContainer_Inspection"/>
										</xs:sequence>									
									</xs:complexType>
								</xs:element>
								<xs:element name="ThicknessMeasurements"  >
									<xs:complexType>
										<xs:sequence>									
											<xs:element ref="TankContainer_Inspection"/>
										</xs:sequence>									
									</xs:complexType>
								</xs:element>
								<xs:element name="HydraulicTest"  >
									<xs:complexType>
										<xs:sequence>									
											<xs:element ref="TankContainer_Inspection"/>
										</xs:sequence>									
									</xs:complexType>
								</xs:element>
								<xs:element name="LeakproofnessTest"  >
									<xs:complexType>
										<xs:sequence>									
											<xs:element ref="TankContainer_Inspection"/>
										</xs:sequence>									
									</xs:complexType>
								</xs:element>
								<xs:element name="VacuumMeasurement"  >
									<xs:complexType>
										<xs:sequence>									
											<xs:element ref="TankContainer_Inspection"/>
										</xs:sequence>									
									</xs:complexType>
								</xs:element>
								<xs:element name="HeaterPressureTest"  >
									<xs:complexType>
										<xs:sequence>									
											<xs:element ref="TankContainer_Inspection"/>
										</xs:sequence>									
									</xs:complexType>
								</xs:element>
								<xs:element name="ValveSettingsCheck"  >
									<xs:complexType>
										<xs:sequence>									
											<xs:element ref="TankContainer_Inspection"/>
										</xs:sequence>									
									</xs:complexType>
								</xs:element>
								<xs:element name="ServiceEquipmentCheck"  >
									<xs:complexType>
										<xs:sequence>									
											<xs:element ref="TankContainer_Inspection"/>
										</xs:sequence>									
									</xs:complexType>
								</xs:element>
								<xs:element name="FrameExamination"  >
									<xs:complexType>
										<xs:sequence>									
											<xs:element ref="TankContainer_Inspection"/>
										</xs:sequence>									
									</xs:complexType>
								</xs:element>
								<xs:element name="MarkingExamination"  >
									<xs:complexType>
										<xs:sequence>									
											<xs:element ref="TankContainer_Inspection"/>
										</xs:sequence>									
									</xs:complexType>
								</xs:element>
								<xs:element name="RefOfMeasurementInstrumentsUsed" type="xs:string"  />
							</xs:sequence>
						</xs:complexType>
					</xs:element>						
					<xs:element name="Remarks" type="Remarks" />					
				</xs:sequence>
			</xs:complexType>
		</xs:element>	 
		<xs:element name="InspectionVerification"  >
			<xs:complexType>
				<xs:sequence>
					<xs:element name="VerificationDate" type="xs:dateTime" />	
					<xs:element name="VerificationPlace" type="xs:string"  />					
					<xs:element name="VerificatorInfo" >
						<xs:complexType>
							<xs:sequence>
								<xs:element ref="ContactInfo" />	  
							</xs:sequence>
						</xs:complexType>
					</xs:element>	
				</xs:sequence>
			</xs:complexType>
		</xs:element>
      	<xs:element name="Remarks" type="Remarks"  />
		<xs:element name="Attachments" type="Attachments"  />
	  </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>