otf23/project/1_XSD_Blueprint/otf23/xsd/TankContainer_Compartments.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" >
  <xs:include schemaLocation="Product_ProductInfo.xsd"/>
  <xs:complexType name="TankContainer_Compartments">
    <xs:sequence>
      <xs:element name="TankContainer_Compartment" maxOccurs="unbounded">
        <xs:complexType>
          <xs:sequence>
			<xs:element name="CompartmentNumber" type="xs:int" />
			<xs:element name="CurrentProduct"  >
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="ProductInfo"/>
						<xs:element name="LoadedAmount" type="xs:double"  />
						<xs:element name="LoadedAmountUnit" type="xs:string"  />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="PreviousProduct1" >
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="ProductInfo"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="PreviousProduct2"  >
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="ProductInfo"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="PreviousProduct3"  >
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="ProductInfo"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
