otf23/project/1_XSD_Blueprint/otf23/xsd/TankContainerInfo.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:include schemaLocation="ContainerInfo.xsd"/>
  <xs:include schemaLocation="CRM_BusinessUnitInfo.xsd"/>   
  <xs:include schemaLocation="Common_TemperatureMeasures.xsd"/>
  <xs:include schemaLocation="TankContainer_PortableTankTypes.xsd"/>
  <xs:include schemaLocation="TankContainer_IMOTypes.xsd"/>
  <xs:include schemaLocation="TankContainerInfo_SubstancesSuitableForTransport.xsd"/>
  <xs:include schemaLocation="TankContainerInfo_SpecialProvisions.xsd"/>
  <xs:include schemaLocation="TankContainer_ISO6346SizeTypeCodes.xsd"/>
  <xs:include schemaLocation="TankContainerInfo_ReliefValves.xsd"/>
  <xs:include schemaLocation="TankContainerInfo_RuptureDiscs.xsd"/>
  <xs:include schemaLocation="TankContainer_InspectionScopes.xsd"/>  
  <xs:element name="TankContainerInfo">
    <xs:complexType>
      <xs:sequence>
	    <xs:element ref="ContainerInfo"/>
		<xs:element name="TankContainerSuitabilityInfo"  >
			<xs:complexType>
				<xs:sequence>
					<xs:element name="PortableTankType"  >
						<xs:simpleType>
							<xs:restriction base="TankContainer_PortableTankTypes" />
						</xs:simpleType>
					</xs:element>
					<xs:element name="PortableTankTypeDescription" type="xs:string"  />
					<xs:element name="IMOType_Deprecated"  >
						<xs:simpleType>
							<xs:restriction base="TankContainer_IMOTypes" />
						</xs:simpleType>
					</xs:element>
					<xs:element name="IMOTypeDescription_Deprecated" type="xs:string"  />
					<xs:element name="RID_ADRCode" type="xs:string"  />
					<xs:element name="SubstancesSuitableForTransport" type="TankContainerInfo_SubstancesSuitableForTransport" />					
					<xs:element name="SpecialProvisions" type="TankContainerInfo_SpecialProvisions" />										
				</xs:sequence>
			</xs:complexType>
		</xs:element>
		<xs:element name="TankContainerCharacteristicsInfo" >
			<xs:complexType>
				<xs:sequence>
					<xs:element name="ManufacturerInfo" >
						<xs:complexType>
							<xs:sequence>
								<xs:element ref="BusinessUnitInfo" />	  
								<xs:element name="ManufacturedInCountry" type="xs:string"  />
								<xs:element name="ManufacturerSerialNumber" type="xs:string" />							
							</xs:sequence>
						</xs:complexType>
					</xs:element>				
					<xs:element name="BuildingYearMonth" type="xs:dateTime" />
					<xs:element name="ISO6346SizeTypeCode"  >
						<xs:simpleType>
							<xs:restriction base="TankContainer_ISO6346SizeTypeCodes" />
						</xs:simpleType>
					</xs:element>
					<xs:element name="ISO6346SizeTypeCodeDescription" type="xs:string"  />
					<xs:element name="DimensionsXMillimeter" type="xs:int"  />
					<xs:element name="DimensionsYMillimeter" type="xs:int"  />
					<xs:element name="DimensionsZMillimeter" type="xs:int" />
					<xs:element name="MaxGrossMass" type="xs:double" />
					<xs:element name="Payload" type="xs:double" />
					<xs:element name="PayloadUnit" type="xs:string" default = "kg" />					
					<xs:element name="Tare" type="xs:double" />
					<xs:element name="TareUnit" type="xs:string" default = "kg" />
					<xs:element name="Capacity" type="xs:double" /> 
					<xs:element name="CapacityUnit" type="xs:string" default = "L" />					
				</xs:sequence>
			</xs:complexType>
		</xs:element>
		<xs:element name="TankContainerTankInfo" >
			<xs:complexType>
				<xs:sequence>
					<xs:element name="CompartmentQuantity" type="xs:int" /> 		
					<xs:element name="ShellMaterial" type="xs:string" /> 
					<xs:element name="ShellEquivalentThicknessRefSteelMillimeter" type="xs:double"  /> 
					<xs:element name="SurgePlates" type="xs:boolean" /> 
					<xs:element name="SurgePlatesCapacityBetweenIsLowerThan7500L" type="xs:boolean" /> 
					<xs:element name="WorkPressureMaximumBar" type="xs:double" /> 
					<xs:element name="DesignPressureExternalBar" type="xs:double" /> 
					<xs:element name="TestPressureHydraulicBar" type="xs:double" />
					<xs:element name="DesignTemperatureMinimum" type="xs:double" /> 
					<xs:element name="DesignTemperatureMaximum" type="xs:double" /> 
					<xs:element name="DesignTemperatureUnit"  >
						<xs:simpleType>
							<xs:restriction base="TemperatureMeasures" />
						</xs:simpleType>
					</xs:element>					
				</xs:sequence>
			</xs:complexType>
		</xs:element>
		 <xs:element name="TankContainerEquipmentInfo" >
			<xs:complexType>
				<xs:sequence>
					<xs:element name="TopDischarge" type="xs:string"  /> 
					<xs:element name="TopQuantityOfEnclosuresInSeries" type="xs:int"  /> 			
					<xs:element name="BottomDischarge" type="xs:string"  /> 
					<xs:element name="BottomQuantityOfEnclosuresInSeries" type="xs:int"  /> 
					<xs:element name="Heater" type="xs:string"  /> 
					<xs:element name="HeaterWorkingPressureBar" type="xs:double"  /> 
					<xs:element name="ReliefValveQuantity" type="xs:int"  /> 
					<xs:element name="ReliefValves" type="TankContainerInfo_ReliefValves"  />
					<xs:element name="RuptureDiscQuantity" type="xs:int"  /> 
					<xs:element name="RuptureDiscs" type="TankContainerInfo_RuptureDiscs"  />													
				</xs:sequence>
			</xs:complexType>
		</xs:element>
		<xs:element name="TankContainerLiningInfo"  >
			<xs:complexType>
				<xs:sequence>
					<xs:element name="InternalCoating" type="xs:string"  /> 
					<xs:element name="Insulation" type="xs:string"  /> 
					<xs:element name="Material" type="xs:string"  /> 
				</xs:sequence>
			</xs:complexType>
		</xs:element>
		<xs:element name="InspectionDates" >
			<xs:complexType>
				<xs:sequence>
					<xs:element name="InitialInspectionDate" type="xs:dateTime" />		
					<xs:element name="LastInspectionDate" type="xs:dateTime" />		
					<xs:element name="LastInspectionScope"  >
						<xs:simpleType>
							<xs:restriction base="TankContainer_InspectionScopes" />
						</xs:simpleType>
					</xs:element>
					<xs:element name="LastInspectionScopeDescription" type="xs:string"  />
					<xs:element name="NextInspectionDate" type="xs:dateTime" />		
					<xs:element name="CSCValidityDate" type="xs:dateTime" />
					<xs:element name="ACEPDescription" type="xs:string"  />
				</xs:sequence>
			</xs:complexType>
		</xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>