otf23/project/1_XSD_Blueprint/otf23/xsd/TankContainer_ServiceRequest_Cleaning.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:include schemaLocation="Container_ServiceRequestInfo.xsd"/>
  <xs:include schemaLocation="TankContainer_CleaningActions.xsd"/>    
  <xs:element name="TankContainer_ServiceRequest_Cleaning">
    <xs:complexType>
      <xs:sequence>
		<xs:element ref="Container_ServiceRequestInfo" />
		<xs:element name="RequestPolymerCleaning" type="xs:boolean"  />							
		<xs:element name="SpecialInstructionID" type="xs:string"  />						
		<xs:element name="AdditionalCleaningActions" type="TankContainer_CleaningActions"  />	
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>								