otf23/project/1_XSD_Blueprint/otf23/xsd/TankContainer_ServiceRequest_Inspection.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:include schemaLocation="Container_ServiceRequestInfo.xsd"/>
  <xs:include schemaLocation="TankContainer_InspectionScopes.xsd"/>    
  <xs:element name="TankContainer_ServiceRequest_Inspection">
    <xs:complexType>
      <xs:sequence>
		<xs:element ref="Container_ServiceRequestInfo" />
		<xs:element name="InspectionScope"  >
			<xs:simpleType>
				<xs:restriction base="TankContainer_InspectionScopes" />
			</xs:simpleType>
		</xs:element>
		<xs:element name="InspectionScopeDescription" type="xs:string"  />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>