otf23/project/1_XSD_Blueprint/otf23/xsd/TankContainer_CleaningActions.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" >
  <xs:complexType name="TankContainer_CleaningActions">
    <xs:sequence>
      <xs:element name="TankContainer_CleaningAction" maxOccurs="unbounded">
        <xs:complexType>
          <xs:sequence>
			<xs:element name="CompartmentNumber" type="xs:int" />
			<xs:element name="ActionID" type="xs:string" />
			<xs:element name="Quantity" type="xs:int" default="1"  />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>

