otf20/project/1_XSD_Blueprint/otf20/xsd/Container_Work_EstimateLineProposal.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" >
  <xs:include schemaLocation="Common_Remarks.xsd"/>
  <xs:element name="Container_Work_EstimateLineProposal">
    <xs:complexType>
      <xs:sequence>
		<xs:element name="LaborRate" type="xs:double" minOccurs="0" />
		<xs:element name="LaborHours" type="xs:double" />
		<xs:element name="LaborPrice" type="xs:double" />
		<xs:element name="MaterialPrice" type="xs:double" />
		<xs:element name="LumpSumPrice" type="xs:double" minOccurs="0" />	
		<xs:element name="LineSubtotal" type="xs:double" minOccurs="0" />
		<xs:element name="Quantity" type="xs:integer" minOccurs="0" />
		<xs:element name="DoAction" type="xs:boolean" default = "true" />
		<xs:element name="ThirdParty" type="xs:boolean" default = "false" minOccurs="0" />
		<xs:element name="LineTotal" type="xs:double" minOccurs="0" />
		<xs:element name="Remarks" type="Remarks" minOccurs="0" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
