otf21/project/1_XSD_Blueprint/otf21/xsd/Common_Remarks.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" >
  <xs:complexType name="Remarks">
    <xs:sequence>
      <xs:element name="Remark" maxOccurs="unbounded">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="RemarkID" type="xs:string" minOccurs="0" />
            <xs:element name="RemarkDate" type="xs:dateTime" />
            <xs:element name="RemarkAuthor" type="xs:string" minOccurs="0" />
            <xs:element name="RemarkText" type="xs:string" minOccurs="0" />		
			<xs:element name="Tags" minOccurs="0">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="Tag" type="xs:string" maxOccurs="unbounded" />
                </xs:sequence>
              </xs:complexType>
            </xs:element>			
          </xs:sequence> 
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
