otf21/project/1_XSD_Blueprint/otf21/xsd/Container_ServiceRequestInfo.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:include schemaLocation="Common_Remarks.xsd"/> 
  <xs:element name="Container_ServiceRequestInfo">
    <xs:complexType>
      <xs:sequence>
		<xs:element name="IsRequested" type="xs:boolean" default = "true" />
		<xs:element name="ClientPurchaseOrderReference" type="xs:string"  />
		<xs:element name="ClientAuthorizationReference" type="xs:string"  />
		<xs:element name="Remarks" type="Remarks"  />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>				