otf21/project/1_XSD_Blueprint/otf21/xsd/Container_ServiceProgress_AuthorizationInfo.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:include schemaLocation="Common_LocalizationInfo.xsd"/>
  <xs:element name="Container_ServiceProgress_AuthorizationInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Authorized" type="xs:dateTime" />
		<xs:element name="AuthorizedBy" type="xs:string"  />
		<xs:element name="AuthorizationReference" type="xs:string"  />
		<xs:element name="AuthorizationAmount" >
			<xs:complexType>
				<xs:sequence>
					<xs:element ref="LocalizationInfo" />	  
					<xs:element name="AuthorizationAmount" type="xs:double" default = "0" />	
				</xs:sequence>
			</xs:complexType>
		</xs:element>		
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>