otf21/project/1_XSD_Blueprint/otf21/xsd/Container_ServiceProgressInfo.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:include schemaLocation="Container_ServiceProgress_AuthorizationInfo.xsd"/>
  <xs:include schemaLocation="Container_ServiceProgress_DateInfo.xsd"/>  
  <xs:element name="Container_ServiceProgressInfo">
    <xs:complexType>
      <xs:sequence>
	    <xs:element name="SupplierReference" type="xs:string" minOccurs="0" />
		<xs:element name="ClientPurchaseOrderReference" type="xs:string" minOccurs="0" /> 
	    <xs:element ref="Container_ServiceProgress_AuthorizationInfo" minOccurs="0"/>
	    <xs:element ref="Container_ServiceProgress_DateInfo" minOccurs="0"/>			  			  
	  </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>