otf21/project/1_XSD_Blueprint/otf21/xsd/Container_ServiceProgress_DateInfo.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Container_ServiceProgress_DateInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Planned" type="xs:dateTime" />
        <xs:element name="PlannedBy" type="xs:string"  />
        <xs:element name="PlannedToTakePlaceOn" type="xs:dateTime" />
        <xs:element name="Started" type="xs:dateTime" />
        <xs:element name="Finished" type="xs:dateTime" />
        <xs:element name="Cancelled" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>