otf21/project/1_XSD_Blueprint/otf21/xsd/Container_Work_EstimateStatusInfo.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:include schemaLocation="Container_ServiceProgress_AuthorizationInfo.xsd"/>
  <xs:include schemaLocation="Container_ServiceProgress_DateInfo.xsd"/>
  <xs:element name="Container_Work_EstimateStatusInfo">
    <xs:complexType>
      <xs:sequence>
		<xs:element name="Version" type="xs:string" minOccurs="0" />			
		<xs:element ref="Container_ServiceProgress_DateInfo" />		
		<xs:element name="ContainerWorkAuthorizationInfo" minOccurs="0" >
			<xs:complexType>
				<xs:sequence>
					<xs:element name="ContainerWorkLessorAuthorizationInfo" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="LessorID" type="xs:string" minOccurs="0" />
								<xs:element name="Reference" type="xs:string" minOccurs="0" />								
								<xs:element ref="Container_ServiceProgress_AuthorizationInfo" minOccurs="0" />
								<xs:element name="AuthorizationAcceptedBySupplier" type="xs:dateTime" minOccurs="0" />						
							</xs:sequence> 
						</xs:complexType>
					</xs:element>
					<xs:element name="ContainerWorkLesseeAuthorizationInfo" minOccurs="0" >
						<xs:complexType>
							<xs:sequence>
								<xs:element name="LesseeID" type="xs:string" minOccurs="0" />
								<xs:element name="Reference" type="xs:string" minOccurs="0" />								
								<xs:element ref="Container_ServiceProgress_AuthorizationInfo" minOccurs="0" />	
								<xs:element name="AuthorizationAcceptedBySupplier" type="xs:dateTime" minOccurs="0" />						
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:complexType>
		</xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>								