otf21/project/1_XSD_Blueprint/otf21/xsd/ContainerInfo.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ContainerInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="ContainerNumber" type="xs:string" />
		<xs:element name="ContainerType" type="xs:string" minOccurs="0" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>