otf21/project/1_XSD_Blueprint/otf21/xsd/Container_StatusUpdate_Storage_Departure.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:include schemaLocation="Container_HaulierInfo.xsd"/>  
  <xs:element name="Container_StatusUpdate_Storage_Departure">
    <xs:complexType>
      <xs:sequence>
		<xs:element name="ClientPurchaseOrderReference" type="xs:string"  />  
		<xs:element name="ClientReleaseReference" type="xs:string"  />
        <xs:element name="ContainerReleaseDate" type="xs:dateTime" />
		<xs:element ref="Container_HaulierInfo"   />			  
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>