otf21/project/1_XSD_Blueprint/otf21/xsd/Container_HaulierInfo.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Container_HaulierInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="HaulierName" type="xs:string"  />
        <xs:element name="TruckDriverName" type="xs:string"  />
        <xs:element name="TruckLicensePlate" type="xs:string"  />
        <xs:element name="ChassisLicensePlate" type="xs:string"  />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>