otf21/project/1_XSD_Blueprint/otf21/xsd/Message_TankContainer_StatusUpdate_Work.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:include schemaLocation="Common_MessageHeaderInfo.xsd"/>
  <xs:include schemaLocation="Common_Remarks.xsd"/> 
  <xs:include schemaLocation="Common_Attachments.xsd"/>   
  <xs:include schemaLocation="Common_OrderInfo.xsd"/>
  <xs:include schemaLocation="TankContainerInfo.xsd"/>
  <xs:include schemaLocation="Container_Work_EstimateStatusInfo.xsd"/>
  <xs:include schemaLocation="Container_ServiceProgress_DateInfo.xsd"/>
  <xs:element name="Message_TankContainer_StatusUpdate_Work">
    <xs:complexType>
      <xs:sequence>
	    <xs:element ref="MessageHeaderInfo"/>
	    <xs:element ref="OrderInfo"/> 
	    <xs:element ref="TankContainerInfo"/>
		<xs:element name="SupplierReference" type="xs:string"  />
		<xs:element name="ClientPurchaseOrderReference" type="xs:string"  />  
	    <xs:element ref="Container_Work_EstimateStatusInfo"/>	
		<xs:element name="Container_Work_WorkStatusInfo">
			<xs:complexType>
				<xs:sequence>
					<xs:element ref="Container_ServiceProgress_DateInfo"/>		
				</xs:sequence>
			</xs:complexType>
		</xs:element>
		<xs:element name="Remarks" type="Remarks"  />
		<xs:element name="Attachments" type="Attachments"  />		
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>