otf21/project/1_XSD_Blueprint/otf21/xsd/Message_Container_PreNotification_StatusUpdate.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:include schemaLocation="Common_MessageHeaderInfo.xsd"/>
  <xs:include schemaLocation="Common_OrderInfo.xsd"/>  
  <xs:include schemaLocation="ContainerInfo.xsd"/>  
  <xs:include schemaLocation="Container_PreNotificationStatuses.xsd"/>
  <xs:element name="Message_Container_PreNotification_StatusUpdate">
    <xs:complexType>
      <xs:sequence>
	    <xs:element ref="MessageHeaderInfo" />
	    <xs:element ref="OrderInfo" />
	    <xs:element ref="ContainerInfo" />
        <xs:element name="PreNotificationStatus">
          <xs:complexType>
            <xs:sequence>
			  <xs:element name="Status" >
				<xs:simpleType>
					<xs:restriction base="Container_PreNotificationStatuses" />
				</xs:simpleType>
			  </xs:element>			  
			  <xs:element name="Remark" type="xs:string"  />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>