otf21/project/1_XSD_Blueprint/otf21/xsd/Message_TankContainer_PreNotification.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:include schemaLocation="Common_MessageHeaderInfo.xsd"/>
  <xs:include schemaLocation="Common_Remarks.xsd"/>
  <xs:include schemaLocation="Common_Attachments.xsd"/>   
  <xs:include schemaLocation="Container_PreNotificationTypes.xsd"/> 
  <xs:include schemaLocation="Common_OrderInfo.xsd"/> 
  <xs:include schemaLocation="TankContainerInfo.xsd"/>
  <xs:include schemaLocation="Container_HaulierInfo.xsd"/>
  <xs:include schemaLocation="TankContainer_StateInfo.xsd"/>  
  <xs:include schemaLocation="Container_ServiceRequest_Storage.xsd"/>
  <xs:include schemaLocation="TankContainer_ServiceRequest_Heating.xsd"/>
  <xs:include schemaLocation="TankContainer_ServiceRequest_Cleaning.xsd"/>
  <xs:include schemaLocation="Container_ServiceRequest_Work_Modification.xsd"/>
  <xs:include schemaLocation="Container_ServiceRequest_Work_Repair.xsd"/>
  <xs:include schemaLocation="TankContainer_ServiceRequest_Inspection.xsd"/>
  <xs:element name="Message_TankContainer_PreNotification">
    <xs:complexType>
      <xs:sequence>
	    <xs:element ref="MessageHeaderInfo"/>
		<xs:element name="ContainerPreNotificationType" >
			<xs:simpleType>
				<xs:restriction base="Container_PreNotificationTypes" />
			</xs:simpleType>
		</xs:element>		
	    <xs:element ref="OrderInfo"/>
	    <xs:element ref="TankContainerInfo"/>
		<xs:element name="ArrivalInfo"  >
			<xs:complexType>
				<xs:sequence>
					<xs:element name="ETA" type="xs:dateTime" />
					<xs:element name="RedeliveryReference" type="xs:string"  />
					<xs:element name="ContainerOrigin" type="xs:string"  />
					<xs:element ref="Container_HaulierInfo"   />
					<xs:element ref="TankContainer_StateInfo"  />					
				</xs:sequence>
			</xs:complexType>
		</xs:element>
        <xs:element name="ServicesRequestInfo" >
          <xs:complexType>
            <xs:sequence>
  				<xs:element ref="Container_ServiceRequest_Storage"  />
  				<xs:element ref="TankContainer_ServiceRequest_Heating"  />
  				<xs:element ref="TankContainer_ServiceRequest_Cleaning"  />
  				<xs:element ref="Container_ServiceRequest_Work_Modification"  />
  				<xs:element ref="Container_ServiceRequest_Work_Repair"  />
  				<xs:element ref="TankContainer_ServiceRequest_Inspection"  />
            </xs:sequence>
          </xs:complexType>
        </xs:element>		
		<xs:element name="DepartureInfo"  >
			<xs:complexType>
				<xs:sequence>
					<xs:element name="ETD" type="xs:dateTime" />
					<xs:element name="ReleaseReference" type="xs:string"  />
					<xs:element name="ContainerDestination" type="xs:string"  />
					<xs:element ref="Container_HaulierInfo"  />
				</xs:sequence>
			</xs:complexType>
		</xs:element>
		<xs:element name="Remarks" type="Remarks"  />
		<xs:element name="Attachments" type="Attachments"  />			
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>


