otf21/project/1_XSD_Blueprint/otf21/xsd/TankContainerInfo_SpecialProvisions.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" >
  <xs:complexType name="TankContainerInfo_SpecialProvisions">
    <xs:sequence>
      <xs:element name="TankContainerInfo_SpecialProvision" maxOccurs="unbounded">
        <xs:complexType>
          <xs:sequence>
			<xs:element name="SortOrder" type="xs:integer" minOccurs="0"/>
			<xs:element name="SpecialProvision" type="xs:string" />		
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>

