otf21/project/1_XSD_Blueprint/otf21/xsd/TankContainerInfo_RuptureDiscs.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" >
  <xs:complexType name="TankContainerInfo_RuptureDiscs">
    <xs:sequence>
      <xs:element name="TankContainerInfo_RuptureDisc" maxOccurs="unbounded">
        <xs:complexType>
          <xs:sequence>
			<xs:element name="Manufacturer" type="xs:string" />
			<xs:element name="SerialNumber" type="xs:string" />
			<xs:element name="Setting" type="xs:double" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>

