otf21/project/1_XSD_Blueprint/otf21/xsd/TankContainer_ServiceRequest_Heating.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:include schemaLocation="Container_ServiceRequestInfo.xsd"/>
  <xs:include schemaLocation="TankContainer_HeatingMethods.xsd"/>
  <xs:include schemaLocation="TankContainer_HeatingTemperatureMeasurementMethods.xsd"/>
  <xs:element name="TankContainer_ServiceRequest_Heating">
    <xs:complexType>
      <xs:sequence>
		<xs:element ref="Container_ServiceRequestInfo" />
		<xs:element name="RequestedHeatingMethod"  >
			<xs:simpleType>
				<xs:restriction base="TankContainer_HeatingMethods" />
			</xs:simpleType>
		</xs:element>
		<xs:element name="RequestedHeatingMethodDescription" type="xs:string"  />
		<xs:element name="RequiredHeatingTemperatureMeasurementMethod"  >
			<xs:simpleType>
				<xs:restriction base="TankContainer_HeatingTemperatureMeasurementMethods" />
			</xs:simpleType>
		</xs:element>
		<xs:element name="RequiredHeatingTemperatureMeasurementMethodDescription" type="xs:string"  />
		<xs:element name="TargetTemperature" type="xs:double"  />
		<xs:element name="TargetTemperatureUnit" type="xs:string"  />
		<xs:element name="MaximumPressure" type="xs:double"  />			
		<xs:element name="MaximumPressureUnit" type="xs:string"  />
		<xs:element name="MaximumContactTemperature" type="xs:double"  />
		<xs:element name="MaximumContactTemperatureUnit" type="xs:string"  />
		<xs:element name="MinimumTemperature" type="xs:double"  />			
		<xs:element name="MinimumTemperatureUnit" type="xs:string"  />			
		<xs:element name="MaximumTemperature" type="xs:double"  />
		<xs:element name="MaximumTemperatureUnit" type="xs:string"  />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>								