XSD_BluePrint/otf20/xsd/Product_ProductInfo.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ProductInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="MainName" type="xs:string" />
        <xs:element name="TradeName" type="xs:string" minOccurs="0" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>