XSD_BluePrint/otf20/xsd/TankContainerInfo_SubstancesSuitableForTransport.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" >
  <xs:complexType name="TankContainerInfo_SubstancesSuitableForTransport">
    <xs:sequence>
      <xs:element name="TankContainerInfo_SubstanceSuitableForTransport" maxOccurs="unbounded">
        <xs:complexType>
          <xs:sequence>
			<xs:element name="UNNumber" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>

